<!DOCTYPE html>
{% load static base_tags config_tags %}
{% smart_spaceless %}
<html lang="en">
    <head>
        <meta name="theme-color" class="theme-color" content="#fff">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta charset="utf-8">

        <title>Xabber Server</title>

        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-5.3.2.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-icons-1.11.2.min.css' %}">
    </head>

    {% block body %}
        {% get_external_modules as modules %}
        <body class="d-flex flex-column overflow-hidden min-vh-100 vh-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                <symbol id="list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </symbol>
                <symbol id="search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </symbol>
            </svg>

            <header class="navbar d-flex justify-content-start flex-grow-0 flex-shrink-1 sticky-top bg-dark shadow pe-3 ps-0">
                <a class="navbar-brand d-flex align-items-center col-md-3 col-lg-2 fs-4 text-white p-0 me-4" href="/">
                    <img class="me-2" src="{% static 'img/logo.png' %}" width="48" height="48" alt="Xabber">
                    <span class="fs-4">Xabber</span>
                </a>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Create
                    </button>

                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item text-wrap" href="{% url 'users:create' %}">
                                <b>User</b><br>
                                Add new user account. Users can send and receive messages, create and join group chats, make audio and video calls.
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-wrap" href="{% url 'circles:create' %}">
                                <b>Circle</b><br>
                                Circles are used to manage shared contact lists, user permissions and resource quotas.
                            </a>
                        </li>
                    </ul>
                </div>

                {% if request.user.is_authenticated %}
                    <div class="dropdown ms-auto">
                        <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle text-white p-3 lh-1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ request.user.username|slice:'2' }}
                        </div>

                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                            <li>
                                <a class="dropdown-item text-wrap" href="{% url 'users:detail' id=request.user.id %}">
                                    {{ request.user.full_jid }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-wrap" href="{% url 'custom_auth:logout' %}">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}

                <ul class="navbar-nav flex-row d-md-none ms-auto">
                    <li class="nav-item text-nowrap">
                        <button class="nav-link icon-link px-3 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
                            <svg class="bi"><use xlink:href="#search"></use></svg>
                        </button>
                    </li>
                    <li class="nav-item text-nowrap">
                        <button class="nav-link icon-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <svg class="bi"><use xlink:href="#list"></use></svg>
                        </button>
                    </li>
                </ul>
            </header>

            <div class="container-fluid flex-grow-1 overflow-auto">
                <div class="row h-100">
                    <div class="sidebar col-md-3 col-lg-2 p-md-3 text-bg-dark">
                        <div class="offcanvas-md offcanvas-end" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body d-md-flex flex-column p-3 p-md-0 pt-lg-3 overflow-y-auto">
                                <div class="flex-column mb-auto">
                                    {% include 'parts/left_menu.html' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 h-100">
                        {% block title %}{% endblock %}
                        {% block content %}{% endblock %}
                    </main>
                </div>
            </div>
        </body>
    {% endblock %}

    <script src="{% static 'js/vendor/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-5.3.2.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
</html>
{% end_smart_spaceless %}