{% extends 'base.html' %}

{% block section_title %}{% endblock %}

{% block content %}
    {% url 'search' as url %}
    <div class="mb-4 col-12 d-flex flex-wrap flex-md-nowrap">
        <div class="d-flex align-items-center me-0 me-md-4 col-12 col-md-auto">
            <h2 class="mb-0">
                Search
            </h2>
            <div class="vr mx-3"></div>
            <h4 class="mb-0 text-secondary fw-normal items-count-js">
                <span>
                    {{ request.GET.text|truncatechars:'20' }}
                </span>
            </h4>
        </div>

        {% if hosts %}
            <div class="ms-auto col-12 col-md-auto mt-3 mt-md-0">
                <select class="form-select" id="search-host" name="host" data-url="{{ url }}" role="button" data-querystring="{{ request.META.QUERY_STRING }}">
                    {% for host in hosts %}
                        <option value="{{ host.name }}" {% if host.name == curr_host %}selected{% endif %}>
                            {{ host.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>

    <div class="mt-4 search-list-js" data-url="{{ url }}">
        {% include 'parts/search_list.html' %}
    </div>
{% endblock %}