{% extends 'base.html' %}

{% block content %}
  <div class="container">
        <div class="mb-4 col-12 d-flex" data-bs-theme="light">
            <div class="d-flex align-items-center me-4">
                <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '';">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a class="fs-4" href="{% url 'registration:list' %}">
                                Registration
                            </a>
                        </li>

                        <li class="breadcrumb-item">
                            <div class="d-flex align-items-center justify-content-center h-100">
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </li>

                        <li class="breadcrumb-item text-body-emphasis active fs-4" aria-current="page">
                            Add
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div>
            Change registration key for {{ host.name }}
        </div>
        <form action="{% url 'registration:change' vhost_id=host.id key=key %}" method="POST">
            {% csrf_token %}
            <div>
              <label>
                  Expires *
                  <input type="date" value="{{ expire }}" name="expire" placeholder="2022-04-15" required>
              </label>

              <label>
                  Description
                  <input type="text" placeholder="reg key number 1" value="{{ description }}" name="description">
              </label>
            </div>

            <button>Save</button>
        </form>
  </div>
{% endblock %}