{% extends 'base.html' %}

{% block section_title %}{% endblock %}

{% block content %}
        <div class="mb-4 col-12 d-flex" data-bs-theme="light">
            <div class="d-flex align-items-center me-4">
                <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '';">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a class="fs-4" href="{% url 'registration:list' %}">
                                Registration
                            </a>
                        </li>

                        <li class="breadcrumb-item">
                            <div class="d-flex align-items-center justify-content-center h-100">
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </li>

                        <li class="breadcrumb-item text-body-emphasis active fs-4" aria-current="page">
                            Add
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div>
            Current URL:
            <span class="current-url-js">
                {{ settings.url|default:'' }}
            </span>
        </div>

        <form action="{% url 'registration:url' id=settings.id %}" method="POST">
            {% csrf_token %}
            <div>
              <label>
                  Change to
                  <input type="text" placeholder="https://example.com" name="url" required>
              </label>

              <label>
                  <input type="checkbox" name="all">
                  Set for all domains
              </label>
            </div>

            <button>Save</button>
        </form>
{% endblock %}