<div id="details">
    <form action="{% url 'users:detail' id=user.id %}" method="POST">
        {% csrf_token %}

        <div>
            {{ user.get_initials }}
        </div>
        <div>
            {{ user.full_jid }}

            <div>
                Status: {{ user.status }}
                <select name="status">
                    <option value="ACTIVE" {% if user.is_active %}selected{% endif %}>
                        Active
                    </option>
                    <option value="SUSPENDED" {% if user.status == 'SUSPENDED' %}selected{% endif %}>Suspended</option>
                    <option value="EXPIRED" {% if user.status == 'EXPIRED' %}selected{% endif %}>Expired</option>
                    <option value="BANNED" {% if user.status == 'BANNED' %}selected{% endif %}>Banned</option>
                </select>

                <textarea name="reason" cols="30" rows="10" placeholder="Reason for blocking"></textarea>
            </div>

            <div>
                Expired:
                <input type="date" {% if user.expires %}value="{{ user.expires|date:'Y-m-d' }}"{% endif %} name="expires">
            </div>
        </div>

        <button name="save">
            Save
        </button>
        <button name="delete" value="delete">
            Delete User
        </button>
    </form>
</div>