{% load base_tags users_tags %}

{% if users %}
    {% paginate users 5 as paginated_users %}
    {% check_user_permissions request.user 'users' 'write' as users_write_permissions %}

    <div class="table-adaptive">
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Created(UTC)</th>
                    <th>Expires(UTC)</th>
                    <th>Auth</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in paginated_users %}
                    <tr>
                        <td data-title="#">
                            {{ forloop.counter }}
                        </td>
                        <td data-title="Username">
                            <a href="{% url 'users:detail' id=user.id %}">
                                {{ user.username }}
                            </a>
                        </td>
                        <td data-title="Name">
                            {% if user.nickname %}
                                {{ user.nickname|truncatechars:'15' }}
                            {% else %}
                                {{ user.full_name|truncatechars:'15' }}
                            {% endif %}
                        </td>
                        <td data-title="Created(UTC)">
                            <span class="text-body-secondary">
                                {{ user.created|date:"m.d.Y H:i" }}
                            </span>
                        </td>
                        <td data-title="Expires(UTC)">
                            <span class="text-body-secondary">
                                {% if user.expires %}
                                    {{ user.expires|date:"m.d.Y H:i" }}
                                {% else %}
                                    Never
                                {% endif %}
                            </span>
                        </td>
                        <td data-title="Auth">
                            <span class="text-body-secondary">
                                {{ user.get_auth_backend_display }}
                            </span>
                        </td>
                        <td data-title="Status">
                            <span class="text-success {% if not user.is_active %}text-danger{% endif %}">
                                {{ user.status|title }}
                            </span>
                        </td>
                        <td data-title="Actions">
                            <div class="d-flex">
                                <div class="dropdown">
                                    <div class="fs-5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical d-flex"></i>
                                    </div>

                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item text-wrap" href="{% url 'users:vcard' id=user.id %}">
                                                Edit vcard
                                            </a>
                                        </li>
                                        {% if users_write_permissions and not user.auth_backend_is_ldap %}
                                            <li>
                                                <a class="dropdown-item text-wrap text-danger" href="{% url 'users:delete' id=user.id %}">
                                                     Delete user
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if users_write_permissions %}
                                            <li>
                                                {% if user.status != 'BLOCKED' %}
                                                    <a class="dropdown-item text-wrap text-info" href="{% url 'users:block' id=user.id %}">
                                                         Block user
                                                    </a>
                                                {% else %}
                                                    <a class="dropdown-item text-wrap text-info" href="{% url 'users:unblock' id=user.id %}">
                                                         Unblock user
                                                    </a>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if users.count > 5 %}
        {% include 'parts/pagination.html' with objects=paginated_users %}
    {% endif %}
{% endif %}