{% load base_tags %}

{% if users %}
    {% paginate users 5 as paginated_users %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Expires</th>
                    <th>Auth</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in paginated_users %}
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="avatar avatar-48 bg-primary rounded-circle text-white fs-6">
                                    {{ user.get_initials }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'users:detail' id=user.id %}">
                                {{ user.username }}
                            </a>
                        </td>
                        <td>
                            {% if user.first_name %}
                                {{ user.first_name }}
                            {% endif %}
                            {% if user.last_name %}
                                {{ user.last_name }}
                            {% endif %}
                        </td>
                        <td>
                            <span class="text-body-secondary">
                                {{ user.created|date:"M d, Y H:i" }}, UTC
                            </span>
                        </td>
                        <td>
                            <span class="text-body-secondary">
                                {% if user.expires %}
                                    {{ user.expires|date:"M d, Y H:i" }}, UTC
                                {% else %}
                                    Never
                                {% endif %}
                            </span>
                        </td>
                        <td>
                            <span class="text-body-secondary">
                                {{ user.get_auth_backend_display }}
                            </span>
                        </td>
                        <td>
                            <span class="text-success {% if not user.is_active %}text-danger{% endif %}">
                                {{ user.status|title }}
                            </span>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="dropdown">
                                    <div class="text-white fs-5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical d-flex"></i>
                                    </div>

                                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item text-wrap" href="{% url 'users:vcard' id=user.id %}">
                                                Edit vcard
                                            </a>
                                        </li>
                                        {% if users_write_permissions %}
                                            <li>
                                                <a class="dropdown-item text-wrap text-danger" href="{% url 'users:delete' id=user.id %}">
                                                     Delete user
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if users_write_permissions %}
                                            <li>
                                                <a class="dropdown-item text-wrap text-info" href="#">
                                                     Block user
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if users.count > 5 %}
        {% include 'parts/pagination.html' with objects=paginated_users %}
    {% endif %}
{% endif %}