{% extends 'base.html' %}
{% load config_tags %}

{% block title %}
    Server settings
{% endblock %}

{% block content %}
    {% url 'config:tabs' as url %}
    <div class="mb-4 col-12" data-bs-theme="light">
        {% include 'config/parts/links.html' %}
    </div>

    <div class="col-12">
        {% url 'config:tabs' as ldap %}
        <form method="post">
            {% csrf_token %}

            <div class="d-flex flex-column mb-4">
                <div class="text-secondary mt-0">
                    LDAP authentication
                </div>

                <div class="row mb-3">
                    <h4 class="col-form-label col-sm-3">
                        Host
                    </h4>
                    <div class="col-sm-9">
                        <select class="form-select" id="host" name="host" data-url="{{ url }}">
                            {% for host in hosts %}
                                <option value="{{ host.id }}" {% if host.name == curr_host %}selected{% endif %}>
                                    {{ host.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="list-js" data-url="{{ url }}">
                {% include 'config/parts/ldap_fields.html' %}
            </div>
        </form>
    </div>
{% endblock %}