{% extends 'base.html' %}

{% block content %}
    {% url 'config:tabs' as url %}
    <div class="container">
        <div>
            <h1>Manage administrators</h1>
        </div>

        <div>
            <form method="post">
                {% csrf_token %}

                {% for user in users %}
                    <label>
                        <input type="checkbox" value="{{ user.id }}" name="admins" {% if user.is_admin %}checked{% endif %}>
                        {{ user.full_jid }}
                    </label>
                {% endfor %}

                <button>
                    Save
                </button>
                <a href="{% url 'config:tabs' %}">
                    Cancel
                </a>
            </form>
        </div>
    </div>
{% endblock %}