{% extends 'base.html' %}
{% load config_tags base_tags %}

{% block title %}
    Server settings
{% endblock %}

{% block content %}
    {% url 'config:tabs' as url %}
    <div class="mb-4 col-12" data-bs-theme="light">
        {% include 'config/parts/links.html' %}
    </div>

    {% get_items_by_model_name 'rootpage' num=1 as rp %}
    <div id="root_page">
        <div>
            Root page
        </div>

        <form action="{% url 'config:root_page' %}" method="post">
            {% csrf_token %}

            <label>
                Module
                <select name="module">
                    <option value="home">
                        Home page
                    </option>
                    {% for module in modules %}
                        <option value="{{ module }}" {% if rp.0.module == module %}selected{% endif %}>
                            {{ module }}
                        </option>
                    {% endfor %}
                </select>
            </label>

            {% if settings_write_permissions %}
                <button>
                    Save
                </button>
            {% endif %}
        </form>
    </div>
{% endblock %}