{% extends 'base.html' %}
{% load config_tags base_tags %}

{% block content %}
    {% url 'config:tabs' as url %}
    <div class="container">
        <div>
            <h1>Server settings</h1>
        </div>

        <div>
            {% include 'config/parts/links.html' %}

            {% get_items_by_model_name 'rootpage' num=1 as rp %}
            <div id="root_page">
                <div>
                    Root page
                </div>

                <form action="{% url 'config:root_page' %}" method="post">
                    {% csrf_token %}

                    <label>
                        Module
                        <select name="module">
                            <option value="home">
                                Home page
                            </option>
                            {% for module in modules %}
                                <option value="{{ module }}" {% if rp.0.module == module %}selected{% endif %}>
                                    {{ module }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>

                    <button>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}