{% extends 'base.html' %}
{% load config_tags %}



{% block content %}
    {% url 'config:tabs' as url %}
    <div class="container">
        <div>
            <h1>Server settings</h1>
        </div>

        <div>
            <div>
                <a href="#hosts">
                    Virtual hosts
                </a>
                <a href="#admins">
                    Administrators
                </a>
                <a href="#ldap">
                    LDAP
                </a>
                <a href="#modules">
                    Modules
                </a>
                {% if modules %}
                    <a href="#root_page">
                        Root page
                    </a>
                {% endif %}
            </div>

            {% include 'config/parts/hosts_tab.html' %}
            {% include 'config/parts/admins_tab.html' %}
            {% include 'config/parts/ldap_tab.html' %}
            {% include 'config/parts/modules_tab.html' %}
            {% include 'config/parts/root_page_tab.html' %}
        </div>
    </div>
{% endblock %}