{% extends 'base.html' %}

{% block content_title %}
    Create new circle
{% endblock %}

{% block content %}
    <div class="col-12">
        <form action="{% url 'circles:create' %}" method="POST">
            {% csrf_token %}

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3 {% if form.circle.errors %}text-danger{% endif %}">Circle *</label>
                <div class="col-12 col-md-9">
                    <div class="input-group">
                        <input class="form-control {% if form.circle.errors %}is-invalid{% endif %}" type="text" name="circle" placeholder="Circle identifier" {% if form.circle.data %}value="{{ form.circle.data }}"{% endif %}>

                        {% if hosts %}
                            <select class="form-select {% if hosts|length < 2 %}pe-none{% endif %}" name="host">
                                {% for host in hosts %}
                                    <option value="{{ host.name }}"
                                        {% if form.host.data %}
                                            {% if form.host.data == host.name %}selected{% endif %}
                                        {% elif current_host == host.name %}selected{% endif %}>
                                        @{{ host.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3">Name</label>
                <div class="col-12 col-md-9">
                    <input class="form-control" type="text" placeholder="Name" name="name" {% if form.name.data %}value="{{ form.name.data }}"{% endif %}>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3">Description</label>
                <div class="col-12 col-md-9">
                    <textarea class="form-control" name="description" cols="30" rows="6">
                        {% if form.description.data %}{{ form.description.data }}{% endif %}
                    </textarea>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Create circle</button>
        </form>
    </div>
{% endblock %}