{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <div>
            <a href="{% url 'circles:list' %}">Circles</a>
            <div>
                {{ circle.circle }} | {{ circle.host }}
            </div>
        </div>

        {% include 'circles/parts/links.html' %}

        <div>
            <form action="{% url 'circles:detail' id=circle.id %}" method="POST">
                {% csrf_token %}

                <input type="text" name="name" placeholder="Name" value="{{ circle.name|default:'' }}">

                <textarea name="description" cols="30" rows="10">{% if circle.description %}{{ circle.description }}{% endif %}</textarea>

                <button name="save">
                    Save
                </button>
                <a href="{% url 'circles:delete' id=circle.id %}">
                    Delete Circle
                </a>
            </form>
        </div>
    </div>
{% endblock %}