{% extends 'circles/base.html' %}
{% load static %}

{% block content %}
    <div class="mb-4 col-12 d-flex overflow-hidden overflow-x-auto text-nowrap">
        <div class="d-flex align-items-center me-4">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '';">
                <ol class="breadcrumb flex-nowrap mb-0">
                    <li class="breadcrumb-item">
                        <a class="fs-4" href="{% url 'circles:list' %}">
                            Circles
                        </a>
                    </li>

                    <li class="breadcrumb-item">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </li>

                    <li class="breadcrumb-item text-body-emphasis active fs-4" aria-current="page">
                        {{ circle.circle }}
                    </li>
                </ol>
            </nav>

            <div class="vr mx-3"></div>

            <h6 class="mb-0 text-body-tertiary">
                {{ circle.host }}
            </h6>
        </div>
    </div>

    <div class="mb-4 col-12">
        {% include 'circles/parts/links.html' %}
    </div>

    <div class="col-12">
        <div class="row">
            <div class="d-flex align-items-center col-12 col-md-6">
                <div class="fs-5">Members</div> <div class="vr mx-3"></div> <span class="text-body-tertiary">{{ circle.get_members_count }} members</span>
            </div>

            {% if circles_write_permissions %}
                <div class="d-flex align-items-start justify-content-start justify-content-md-end col-12 col-md-6 mt-3 mt-md-0">
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#manage_members">
                        Manage
                    </a>
                </div>
            {% endif %}
        </div>

        {% if circles_write_permissions and users_read_permissions %}

            <div class="modal modal-lg fade reset-selectm-modal-js" id="manage_members" tabindex="-1" aria-labelledby="manage_members_label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <form class="modal-content check-change-js" action="{% url 'circles:members' id=circle.id %}" method="POST">
                        {% csrf_token %}

                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="manage_members_label">Manage members</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        {% if circle.all_users %}
                            <div class="modal-body">
                                Remove "all members" option in <a href="{% url 'circles:detail' id=circle.id %}">details</a> before manage members
                            </div>
                        {% else %}
                            <div class="modal-body">
                                <div class="row selector-custom">
                                    <div class="col-12 col-lg-5 d-flex">
                                        <div class="card w-100">
                                            <div class="card-header fs-6 d-flex align-items-center">
                                                Avaliable members

                                                <div class="icon-link text-body-tertiary fs-5 ms-2" type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="This is the list of avaliable members. You can add some of them by highlighting and clicking 'Add' below, or by double-clicking.">
                                                    <i class="bi bi-info-circle-fill d-flex"></i>
                                                </div>
                                            </div>

                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <div id="id_members_filter">
                                                        <div class="input-group">
                                                            <label class="input-group-text" for="id_members_input">
                                                                <div class="icon-link text-body-tertiary fs-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Start typing text in this field to filter the list of available members.">
                                                                    <i class="bi bi-search d-flex"></i>
                                                                </div>
                                                            </label>
                                                            <input class="form-control nocheck-change-js" type="text" placeholder="Filter" id="id_members_input">
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="list-group-item">
                                                    <select class="form-control nocheck-change-js" id="id_members_from" size="5" name="members_old" multiple data-field-name="members">
                                                        {% for user in users %}
                                                            {% if user not in circle.members.all %}
                                                                <option value="{{ user.id }}" title="{{ user.full_jid }}">{{ user.full_jid }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </li>
                                            </ul>

                                            <div class="card-footer">
                                                <a title="Click to select all members at once." href="#" id="id_members_add_all_link">Choose all</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-2 d-flex align-items-center justify-content-center my-3 my-lg-0">
                                        <div class="icon-link fs-3 me-2" id="id_members_remove_link" type="button" title="Remove">
                                            <i class="bi bi-arrow-left-circle-fill d-flex"></i>
                                        </div>

                                        <div class="icon-link fs-3" id="id_members_add_link" type="button" title="Add">
                                            <i class="bi bi-arrow-right-circle-fill d-flex"></i>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-5 d-flex">
                                        <div class="card w-100">
                                            <div class="card-header fs-6 d-flex align-items-center">
                                                Added members

                                                <div class="icon-link text-body-tertiary fs-5 ms-2" type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="This is the list of selected members. You can delete some of them by highlighting and clicking 'Remove' below or by double-clicking.">
                                                    <i class="bi bi-info-circle-fill d-flex"></i>
                                                </div>
                                            </div>

                                            <div class="card-body">
                                                <select class="form-control h-100 nocheck-change-js" id="id_members_to" size="5" multiple name="members">
                                                    {% for user in circle.members.all %}
                                                        <option value="{{ user.id }}" title="{{ user.full_jid }}" data-checked>{{ user.full_jid }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="card-footer">
                                                <a title="Click to delete all members at once." href="#" id="id_members_remove_all_link">Clear all</a>
                                            </div>
                                        </div>
                                    </div>

                                    <input name="members" id="id_members_to_hidden" {% if circle.members.all %}value="{% for user in circle.members.all %}{{ user.id }}{% if not forloop.last %},{% endif %}{% endfor %}"{% endif %}>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary btn-secondary" name="save" disabled>Save</button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    {% if circle.all_users or users_read_permissions %}
        <div class="mt-4 col-12">
            <div class="table-adaptive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Nickname</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if circle.all_users %}
                            <tr>
                                <td class="align-middle d-none d-lg-table-cell">
                                </td>
                                <td class="align-middle" data-title="All users">
                                    All ({{ circle.get_members_count }} on {{ circle.host }})
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                </td>
                            </tr>
                        {% endif %}
                        {% for user in circle.members.all %}
                            <tr>
                                <td class="align-middle" data-title="#">
                                    <div class="d-flex">
                                        <div class="avatar avatar-48 bg-primary rounded-circle text-white fs-6">
                                            {{ user.get_initials }}
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle" data-title="Username">
                                    <span class="text-break">
                                        {{ user.full_jid }}
                                    </span>
                                </td>
                                <td class="align-middle" data-title="Nickname">
                                    {{ user.nickname|default:'' }}
                                </td>
                                <td class="align-middle" data-title="Actions">
                                    {% if circles_write_permissions %}
                                        <div class="d-flex">
                                            <div class="dropdown">
                                                <div class="fs-5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi bi-three-dots-vertical d-flex"></i>
                                                </div>

                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li>
                                                        <a class="dropdown-item text-wrap text-danger" href="{% url 'circles:delete_member' circle_id=circle.id member_id=user.id %}">
                                                            Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
