{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <div>
            <a href="{% url 'circles:list' %}">Circles</a>
            <div>
                {{ circle.circle }} | {{ circle.host }}
            </div>
        </div>

        {% include 'circles/parts/links.html' %}

        <div id="members">
            <div>
                Members <span>{{ circle.members.count }} members</span>

                <a href="#add_member">
                    Add
                </a>
                <a href="#manage">
                    Manage
                </a>
            </div>

            <div id="add_member">
              <form action="{% url 'circles:members' id=circle.id %}" method="POST">
                  {% csrf_token %}

                <input type="text" placeholder="username@example.com" name="add_member">

                <button type="button">
                  Cancel
                </button>
                <button>
                  Add member
                </button>
              </form>
            </div>

            <div id="manage">
                Manage members
                <form action="{% url 'circles:members' id=circle.id %}" method="POST">
                    {% csrf_token %}

                    {% for user in users %}
                        <label>
                            <input type="checkbox" {% if user in circle.members.all %}checked{% endif %} name="members" value="{{ user.id }}">
                            {{ user.full_jid }}
                        </label>
                    {% endfor %}

                    <button type="button">
                      Cancel
                    </button>
                    <button>
                      Save
                    </button>
                </form>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Nickname</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in circle.members.all %}
                        <tr>
                            <td>
                                {{ user.get_initials }}
                            </td>
                            <td>
                                {{ user.full_jid }}
                            </td>
                            <td>
                                {{ user.nickname|default:'' }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}