<div id="hosts">
    {% if hosts %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Virtual host</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for host in hosts %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ host.name }}
                        </td>
                        <td>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <a href="{% url 'config:host_create' %}">
        Add virtual host
    </a>
</div>