{% load users_tags %}
{% check_user_permissions request.user 'settings' 'write' as settings_write_permissions %}

<div>
    Enable
    <label>
        <input type="checkbox" name="enabled" {% if ldap_settings.enabled or form.enabled.data %}checked{% endif %}>
        On
    </label>
</div>

<div>
    LDAP connection

    <label {% if form.server_list.errors %}class="error"{% endif %}>
        Server list
        <textarea name="server_list" placeholder="ldap1.example.org ldap2.example.org ldap3.example.org">{% if form.server_list.data %}{% for server in form.server_list.data %}{{ server }}{% endfor %}{% elif ldap_settings.servers.all %}{% for server in ldap_settings.servers.all %}{{ server.server }}{% endfor %}{% endif %}</textarea>
        <span>
            Enter the each server name from a new line
        </span>
        <span>List of IP addresses or DNS names of your LDAP servers. This option is required.</span>
    </label>

    <label {% if form.encrypt.errors %}class="error"{% endif %}>
        Encrypt
        <select name="encrypt">
            <option value="none"
                {% if form.data %}
                    {% if form.data.encrypt == 'none' %}selected{% endif %}
                {% elif ldap_settings.encrypt == 'none' %}selected{% endif %}>None</option>
            <option value="tls"
                {% if form.data %}
                    {% if form.data.encrypt == 'tls' %}selected{% endif %}
                {% elif ldap_settings.encrypt == 'tls' %}selected{% endif %}>TLS</option>
        </select>
        <span>
            Type of connection encryption to the LDAP server.
            Allowed values are: none, tls. The value tls enables
            encryption by using LDAP over SSL. Note that STARTTLS
            encryption is not supported. The default value is: none.
        </span>
    </label>

    <label {% if form.tls_verify.errors %}class="error"{% endif %}>
        TLS Verify
        <select name="tls_verify">
            <option value="false"
                {% if form.data %}
                    {% if form.data.tls_verify == 'false' %}selected{% endif %}
                {% elif ldap_settings.tls_verify == 'false' %}selected{% endif %}>False</option>
            <option value="soft"
                {% if form.data %}
                    {% if form.data.tls_verify == 'soft' %}selected{% endif %}
                {% elif ldap_settings.tls_verify == 'soft' %}selected{% endif %}>Soft</option>
            <option value="hard"
                {% if form.data %}
                    {% if form.data.tls_verify == 'hard' %}selected{% endif %}
                {% elif ldap_settings.tls_verify == 'hard' %}selected{% endif %}>Hard</option>
        </select>

        <span>
            This option specifies whether to verify LDAP server
            certificate or not when TLS is enabled. When hard is
            enabled ejabberd does not proceed if a certificate is
            invalid. When soft is enabled ejabberd proceeds even if
            check fails. The default is false which means no checks
            are performed.
        </span>
    </label>

    <label {% if form.tls_cacertfile.errors %}class="error"{% endif %}>
        TLS cacertfile
        <input type="text" name="tls_cacertfile"
               maxlength="100"
               {% if form.data %}
                   value="{{ form.data.tls_cacertfile }}"
               {% elif ldap_settings.tls_cacertfile %}
                   value="{{ ldap_settings.tls_cacertfile }}"
               {% endif %}>
        <span>
            Path to file containing PEM encoded CA certificates. This option is needed (and required) when TLS verification is enabled.
        </span>
    </label>

    <label {% if form.tls_depth.errors %}class="error"{% endif %}>
        TLS depth
        <input type="number" name="tls_depth"
               {% if form.data %}
                   value="{{ form.data.tls_depth }}"
               {% elif ldap_settings.tls_depth %}
                    value="{{ ldap_settings.tls_depth }}"
               {% endif %}>
        <span>
            Specifies the maximum verification depth when TLS verification is enabled,
            i.e. how far in a chain of certificates the verification process can proceed before the verification is considered to fail.
            Peer certificate = 0, CA certificate = 1, higher level CA certificate = 2, etc.
            The value 2 thus means that a chain can at most contain peer cert, CA cert, next CA cert, and an additional CA cert.
            The default value is 1.
        </span>
    </label>

    <label {% if form.port.errors %}class="error"{% endif %}>
        Port
        <input type="number" name="port"
               {% if form.data %}
                    value="{{ form.data.port }}"
               {% else %}
                    value="{{ ldap_settings.port|default:389 }}"
               {% endif %}>
        <span>
            Port to connect to your LDAP server.
            The default port is 389 if encryption is disabled; and 636 if encryption is enabled.
            If you configure a value, it is stored in ejabberd's database.
            Then, if you remove that value from the configuration file,
            the value previously stored in the database will be used instead of the default port.
        </span>
    </label>

    <label {% if form.rootdn.errors %}class="error"{% endif %}>
        Rootdn
        <input type="text" name="rootdn"
               {% if form.data %}
                value="{{ form.data.rootdn }}"
               {% elif ldap_settings.rootdn %}
                value="{{ ldap_settings.rootdn }}"
               {% endif %}
               placeholder="cn=Manager,dc=domain,dc=org">
        <span>
            Bind DN. The default value is empty string '' which means 'anonymous connection'.
        </span>
    </label>

    <label {% if form.password.errors %}class="error"{% endif %}>
        Password
        <input type="password" name="password"
               placeholder="********"
               {% if form.data %}
                value="{{ form.data.password }}"
               {% elif ldap_settings.password %}
                value="{{ ldap_settings.password }}"
               {% endif %}>
        <span>
            Bind password. The default value is is empty string.
        </span>
    </label>

    <label {% if form.defer_aliases.errors %}class="error"{% endif %}>
        Defer aliases
        <select name="defer_aliases">
          <option value="never"
              {% if form.data %}
                  {% if form.data.defer_aliases == 'never' %}selected{% endif %}
              {% elif ldap_settings.defer_aliases == 'never' %}selected{% endif %}>never</option>
          <option value="always"
              {% if form.data %}
                  {% if form.data.defer_aliases == 'always' %}selected{% endif %}
              {% elif ldap_settings.defer_aliases == 'always' %}selected{% endif %}>always</option>
          <option value="finding"
              {% if form.data %}
                {% if form.data.defer_aliases == 'finding' %}selected{% endif %}
              {% elif ldap_settings.defer_aliases == 'finding' %}selected{% endif %}>finding</option>
          <option value="searching"
              {% if form.data %}
                  {% if form.data.defer_aliases == 'searching' %}selected{% endif %}
              {% elif ldap_settings.defer_aliases == 'searching' %}selected{% endif %}>searching</option>
        </select>
        <span>
            Whether or not to dereference aliases. The default is never.
        </span>
    </label>

    <label {% if form.base.errors %}class="error"{% endif %}>
        Base
        <input type="text" name="base"
               placeholder="ou=Users,dc=example,dc=org"
               {% if form.data %}
                value="{{ form.data.base }}"
               {% elif ldap_settings.base %}
                value="{{ ldap_settings.base }}"
               {% endif %}>
        <span>
            LDAP base directory which stores users accounts. This option is required.
        </span>
    </label>

    <label {% if form.uids.errors %}class="error"{% endif %}>
        UIDs
        <input type="text" name="uids"
               {% if form.data %}
                value="{{ form.data.uids }}"
               {% elif ldap_settings.uids %}
                value="{{ ldap_settings.uids }}"
               {% endif %}>
        <span>
            LDAP attribute which holds a list of attributes to use as alternatives for getting the JID.
            The default attributes are [{uid, %u}].
            The attributes are of the form: [{ldap_uidattr}] or [{ldap_uidattr, ldap_uidattr_format}].
            You can use as many comma separated attributes as needed.
        </span>
    </label>

    <label {% if form.filter.errors %}class="error"{% endif %}>
        Filter
        <input type="text" name="filter"
               placeholder="(&amp;(objectClass=shadowAccount)(memberOf=Jabber Users))"
               {% if form.data %}
                value="{{ form.data.filter }}"
               {% elif ldap_settings.filter %}
                value="{{ ldap_settings.filter }}"
               {% endif %}>
        <span>
            LDAP filter. The default Filter value is: undefined.
            Please, do not forget to close brackets and do not use superfluous whitespaces.
            Also you must not use ldap_uidattr attribute in filter because this attribute will be substituted in LDAP filter automatically.
        </span>
    </label>

    <label {% if form.dn_filter.errors %}class="error"{% endif %}>
        DN filter
        <input type="text" name="dn_filter"
               {% if form.data %}
                value="{{ form.data.dn_filter }}"
               {% elif ldap_settings.dn_filter %}
                value="{{ ldap_settings.dn_filter }}"
               {% endif %}>
        <span>
            This filter is applied on the results returned by the main filter.
            This filter performs additional LDAP lookup to make the complete result.
            This is useful when you are unable to define all filter rules in ldap_filter.
            You can define %u, %d, %s and %D pattern variables in Filter: %u is replaced by a user's part of a JID,
            %d is replaced by the corresponding domain (virtual host),
            all %s variables are consecutively replaced by values of FilterAttrs attributes and %D is replaced by Distinguished Name.
            By default ldap_dn_filter is undefined.
        </span>
    </label>

    {% if settings_write_permissions %}
        <button>
            Save
        </button>
    {% endif %}
</div>