{% extends 'base.html' %}
{% load static %}

{% block body %}
    <body class="d-flex flex-column min-vh-100 vh-100 bg-body bg-opacity-75">
        <div class="container flex-md-grow-1">
            <div class="row h-100">
                <main class="px-md-4 py-4">
                    <div class="d-flex align-items-center mb-4 fs-4">
                        <img src="{% static 'img/logo.png' %}" width="48" height="48" alt="Xabber">
                        Xabber server installation
                    </div>

                    <div class="col-12">
                        <form method="POST" novalidate>
                            {% csrf_token %}

                            <ul class="nav nav-tabs" id="installationTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {% if step == '1' %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#host_tab-pane" type="button" role="tab" aria-controls="host_tab-pane" aria-selected="true">
                                        XMPP host
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {% if step == '2' %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#admin_settings-pane" type="button" role="tab" aria-controls="admin_settings-pane" aria-selected="true">
                                        Admin settings
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {% if step == '3' %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#database_settings-pane" type="button" role="tab" aria-controls="database_settings-pane" aria-selected="true">
                                        Database settings
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {% if step == '4' %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#installation-pane" type="button" role="tab" aria-controls="installation-pane" aria-selected="true">
                                        Installation
                                    </button>
                                </li>
                            </ul>

                            <div class="tab-content" id="installationTabContent">
                                <div class="tab-pane fade {% if step == '1' %}active show{% endif %}" id="host_tab-pane" role="tabpanel" tabindex="0">
                                    <div>
                                        Configure main domain name for the XMPP server.
                                        It will be used to access server from the internet.
                                        All users will receive accounts in this domain.
                                        You must have access to DNS settings for this domain to make it work.
                                    </div>

                                    <div>
                                        <label class="{% if form.host.errors %}error{% endif %}">
                                            {{ form.host.label }}
                                            {{ form.host }}
                                        </label>
                                    </div>

                                    <button class="btn btn-primary" type="submit">
                                        Next
                                    </button>
                                </div>

                                <div class="tab-pane fade {% if step == '2' %}active show{% endif %}" id="admin_settings-pane" role="tabpanel" tabindex="0">
                                    <div>
                                        Configure admin account for the server.
                                        It will be used to perform all administration and maintenance operations with the server.
                                        You will be able to chat using this account, you will also receive security alerts from the server.
                                        You will be able to configure additional admin accounts later.
                                    </div>

                                    <div>
                                        <label class="{% if form.username.errors %}error{% endif %}">
                                            {{ form.username.label }}
                                            {{ form.username }}
                                        </label>

                                        <label class="{% if form.password.errors %}error{% endif %}">
                                            {{ form.password.label }}
                                            {{ form.password }}
                                        </label>
                                    </div>

                                    <button type="submit" name="previous" value="1">Previous</button>
                                    <button class="btn btn-primary" type="submit">
                                        Next
                                    </button>
                                </div>

                                <div class="tab-pane fade {% if step == '3' %}active show{% endif %}" id="database_settings-pane" role="tabpanel" tabindex="0">
                                    <div>
                                        Connect server to a database.
                                        You must have it preconfigured before proceeding with installation.
                                        Database installation instruction can be found
                                        <a href="https://github.com/redsolution/xabber-server/wiki/Installation#postgresql-installation">here</a>.
                                    </div>

                                    <div>
                                        <label class="{% if form.server_name.errors %}error{% endif %}">
                                            {{ form.db_host.label }}
                                            {{ form.db_host }}
                                        </label>

                                        <label class="{% if form.db_name.errors %}error{% endif %}">
                                            {{ form.db_name.label }}
                                            {{ form.db_name }}
                                        </label>

                                        <label class="{% if form.db_user.errors %}error{% endif %}">
                                            {{ form.db_user.label }}
                                            {{ form.db_user }}
                                        </label>

                                        <label class="{% if form.db_user_password.errors %}error{% endif %}">
                                            {{ form.db_user_pass.label }}
                                            {{ form.db_user_pass }}
                                        </label>
                                    </div>

                                    <button type="submit" name="previous" value="2">Previous</button>
                                    <button class="btn btn-primary" type="submit">
                                        Next
                                    </button>
                                </div>

                                <div class="tab-pane fade {% if step == '4' %}active show{% endif %}" id="installation-pane" role="tabpanel" tabindex="0">
                                    {% if installation_error %}
                                        {{ installation_error }}
                                        <button type="submit" name="previous" value="3">
                                            Previous
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </main>
            </div>
        </div>
    </body>
{% endblock %}