{% if circles %}
    <div>
        {% for circle in circles %}
            <div>
                {{ circle.full_jid }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if groups %}
    <div>
        {% for group in groups %}
            <div>
                {{ group.name }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if users %}
    <div>
        {% for user in users %}
            <div>
                {{ user.full_jid }}
            </div>
        {% endfor %}
    </div>
{% endif %}