{% if circles %}
    <li class="list-group-item">
        <div class="text-secondary">Circles</div>
        {% for circle in circles %}
            <div class="d-block text-break pe-auto suggestions-custom__item" role="button">
                {{ circle.full_jid }}
            </div>
        {% endfor %}
    </li>
{% endif %}

{% if groups %}
    <li class="list-group-item">
        <div class="text-secondary">Groups</div>
        {% for group in groups %}
            <div class="d-block text-break pe-auto suggestions-custom__item" role="button">
                {{ group.name }}
            </div>
        {% endfor %}
    </li>
{% endif %}

{% if users %}
    <li class="list-group-item">
        <div class="text-secondary">Users</div>
        {% for user in users %}
            <div class="d-block text-break pe-auto suggestions-custom__item" role="button">
                {{ user.full_jid }}
            </div>
        {% endfor %}
    </li>
{% endif %}