{% load base_tags users_tags %}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        {% url 'home' as home %}
        <a href="{{ home }}" class="nav-link text-white {% if request.path_info == home %}active{% endif %}" aria-current="page">
            Home
        </a>
    </li>

    {% if dashboard_read_permissions %}
        <li>
            {% url 'dashboard' as dashboard %}
            <a href="{{ dashboard }}" class="nav-link text-white {% if request.path_info == dashboard %}active{% endif %}">
                Dashboard
            </a>
        </li>
    {% endif %}

    {% if users_read_permissions %}
        <li>
            {% url 'users:list' as users %}
            <a href="{{ users }}" class="nav-link text-white {% if users in request.path_info %}active{% endif %}">
                Users
            </a>
        </li>
    {% endif %}

    {% if circles_read_permissions %}
        <li>
            {% url 'circles:list' as circles %}
            <a href="{{ circles }}" class="nav-link text-white {% if circles in request.path_info %}active{% endif %}">
                Circles
            </a>
        </li>
    {% endif %}

    {% if groups_read_permissions %}
        <li>
            {% url 'groups:list' as groups %}
            <a href="{{ groups }}" class="nav-link text-white {% if groups in request.path_info %}active{% endif %}">
                Groups
            </a>
        </li>
    {% endif %}

    {% if registration_read_permissions %}
        <li>
            {% url 'registration:list' as registration %}
            <a href="{{ registration }}" class="nav-link text-white {% if registration in request.path_info %}active{% endif %}">
                Registration
            </a>
        </li>
    {% endif %}

    {% if settings_read_permissions %}
        <li>
            {% url 'config:root' as config %}
            <a href="{{ config }}" class="nav-link text-white {% if config in request.path_info %}active{% endif %}">
                Settings
            </a>
        </li>
    {% endif %}
</ul>

{% if modules %}
    <hr>
    <ul class="nav nav-pills flex-column">
        <li>
            <a class="nav-link text-secondary">
                Modules
            </a>
        </li>

        {% for module in modules %}
            {% with namespace=module|add:':info' %}
                {% check_user_permissions request.user module as module_read_permissions %}
                {% if module_read_permissions %}
                    <li>
                        {% url namespace as module_url %}
                        <a href="{{ module_url }}" class="nav-link text-white {% if module_url in request.path_info %}active{% endif %}">
                            {{ module }}
                        </a>
                    </li>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
{% endif %}