{% load base_tags %}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link active" aria-current="page">
            Home
        </a>
    </li>
    <li>
        <a href="{% url 'dashboard' %}" class="nav-link text-white">
            Dashboard
        </a>
    </li>
    <li>
        <a href="{% url 'users:list' %}" class="nav-link text-white">
            Users
        </a>
    </li>
    <li>
        <a href="{% url 'circles:list' %}" class="nav-link text-white">
            Circles
        </a>
    </li>
    <li>
        <a href="{% url 'groups:list' %}" class="nav-link text-white">
            Groups
        </a>
    </li>
    <li>
        <a href="{% url 'registration:list' %}" class="nav-link text-white">
            Registration
        </a>
    </li>
    <li>
        <a href="{% url 'config:tabs' %}" class="nav-link text-white">
            Settings
        </a>
    </li>
</ul>

{% if modules %}
    <hr>
    <ul class="nav nav-pills flex-column">
        {% for module in modules %}
            {% with namespace=module|add:':root' %}
                <li>
                    <a href="{% url namespace %}" class="nav-link text-white">
                        {{ module }}
                    </a>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
{% endif %}