{% load base_tags %}
<div>

    {% get_items_by_model_name 'rootpage' num=1 as rp %}
    {% if rp %}
        {% url rp.0.module as rp_url %}
    {% else %}
        {% url 'home' as rp_url %}
    {% endif %}
    rp module:
    {{ rp }}
    {{ rp_url }}
    <a href="{{ rp_url }}">
        Home
    </a>
    <a href="{% url 'dashboard' %}">
        Dashboard
    </a>
    <a href="{% url 'users:list' %}">
        Users
    </a>
    <a href="{% url 'circles:list' %}">
        Circles
    </a>
    <a href="{% url 'groups:list' %}">
        Groups
    </a>
    <a href="{% url 'registration:list' %}">
        Registration
    </a>
    <a href="{% url 'config:tabs' %}">
        Settings
    </a>
</div>