{% if objects %}
    <nav>
        <ul class="pagination">
            {% if objects.has_previous %}
                <li class="page-item">
                    {% if objects.number > 2 %}
                        <a class="page-link" href="?page=1">
                            1
                        </a>
                        {% if objects.number > 3 %}
                            <span class="page-link">...</span>
                        {% endif %}
                    {% endif %}

                    <a class="page-link" href="?page={{ objects.previous_page_number }}">
                        {{ objects.previous_page_number }}
                    </a>
                </li>
            {% endif %}

            <li class="page-item active">
                <span class="page-link">
                    {{ objects.number }}
                </span>
            </li>

            {% if objects.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ objects.next_page_number }}">
                        {{ objects.next_page_number }}
                    </a>

                    {% if objects.paginator.num_pages >= objects.next_page_number|add:1 %}
                        {% if objects.next_page_number|add:1 != objects.paginator.num_pages %}
                            <span class="page-link">...</span>
                        {% endif %}

                        <a class="page-link" href="?page={{ objects.paginator.num_pages }}">
                            {{ objects.paginator.num_pages }}
                        </a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}