{% extends 'base.html' %}

{% block content_title %}
    Create new group
{% endblock %}

{% block content %}
    <div class="col-12">
        <form method="POST">
            {% csrf_token %}

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3">Localpart *</label>
                <div class="col-12 col-md-9">
                    <div class="input-group">
                        <input class="form-control" type="text" name="localpart" placeholder="Localpart" required>

                        {% if hosts %}
                            <select class="form-select {% if hosts|length < 2 %}pe-none{% endif %}" name="host" required>
                                {% for host in hosts %}
                                    <option value="{{ host.name }}" {% if current_host == host.name %}selected{% endif %}>
                                        @{{ host.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3">Group name *</label>
                <div class="col-12 col-md-9">
                    <input class="form-control" type="text" required placeholder="Group name" name="name">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3">Owner *</label>
                <div class="col-12 col-md-9">
                    <input class="form-control" type="text" required placeholder="username@example.com" name="owner">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3 pt-0">Privacy</label>

                <div class="col-12 col-md-9">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="privacy_public" type="radio" name="privacy" value="public" checked>
                        <label class="form-check-label" for="privacy_public">public</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="privacy_incognito" type="radio" name="privacy" value="incognito">
                        <label class="form-check-label" for="privacy_incognito">incognito</label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3 pt-0">Index</label>

                <div class="col-12 col-md-9">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="index_none" type="radio" name="index" value="none" checked>
                        <label class="form-check-label" for="index_none">none</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="index_local" type="radio" name="index" value="local">
                        <label class="form-check-label" for="index_local">local</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="index_global" type="radio" name="index" value="global">
                        <label class="form-check-label" for="index_global">global</label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3 pt-0">Membership</label>

                <div class="col-12 col-md-9">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="membership_open" type="radio" name="membership" value="open" checked>
                        <label class="form-check-label" for="membership_open">open</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="membership_member_only" type="radio" name="membership" value="member-only">
                        <label class="form-check-label" for="membership_member_only">member-only</label>
                    </div>
                </div>
            </div>


            <button class="btn btn-primary" type="submit">Create group</button>
        </form>
    </div>
{% endblock %}