{% load base_tags users_tags %}

{% check_user_permissions request.user 'circles' 'write' as circles_write_permissions %}

{% if circles %}
    {% paginate circles 5 as paginated_circles %}

    <div class="table-responsive-md">
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Circle identifier</th>
                    <th>Circle name</th>
                    <th>Members count</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for circle in paginated_circles %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a href="{% url 'circles:detail' id=circle.id %}">
                                {{ circle.circle }}
                            </a>
                        </td>
                        <td>
                            <span class="text-body-secondary">
                                {{ circle.name|default:'-' }}
                            </span>
                        </td>
                        <td>
                            <span class="text-body-secondary">
                                {{ circle.members.count }}
                            </span>
                        </td>
                        <td>
                            {% if circles_write_permissions %}
                                <div class="d-flex">
                                    <div class="dropdown">
                                        <div class="text-white fs-5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical d-flex"></i>
                                        </div>

                                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                                            <li>
                                                <a class="dropdown-item text-wrap text-danger" href="{% url 'circles:delete' id=circle.id %}">
                                                     Delete circle
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if circles.count > 5 %}
        {% include 'parts/pagination.html' with objects=paginated_circles %}
    {% endif %}
{% endif %}