{% load base_tags %}

{% if circles %}
    {% paginate circles 5 as paginated_circles %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Circle identifier</th>
                    <th>Circle name</th>
                    <th>Members count</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for circle in paginated_circles %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a href="{% url 'circles:detail' id=circle.id %}">
                                {{ circle.circle }}
                            </a>
                        </td>
                        <td>
                            <span class="text-body-secondary">
                                {{ circle.name|default:'-' }}
                            </span>
                        </td>
                        <td>
                            <span class="text-body-secondary">
                                {{ circle.members.count }}
                            </span>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="dropdown">
                                    <div class="text-white fs-5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical d-flex"></i>
                                    </div>

                                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item text-wrap text-danger" href="{% url 'circles:delete' id=circle.id %}">
                                                 Delete circle
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'parts/pagination.html' with objects=paginated_circles %}
{% endif %}