{% extends 'base.html' %}

{% block title %}
    Create new user
{% endblock %}

{% block content %}
    <div class="col-12">
        <form action="{% url 'users:create' %}" method="POST">
            {% csrf_token %}

            <div class="d-flex flex-column mb-4">
                <h4 class="text-secondary mt-0">
                    Credentials
                </h4>
                <div class="d-flex mb-3">
                    <label class="col-form-label col-sm-3 {% if form.username.errors %}text-danger{% endif %}">Username *</label>

                    <div class="col-sm-9">
                        <div class="input-group">
                            <input class="form-control {% if form.username.errors %}is-invalid{% endif %}" type="text" name="username" placeholder="Username" {% if form.username.data %}value="{{ form.username.data }}"{% endif %}>

                            {% if hosts %}
                                <select class="form-select" name="host">
                                    {% for host in hosts %}
                                        <option value="{{ host.name }}">
                                            @{{ host.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <label class="col-form-label col-sm-3 {% if form.password.errors %}text-danger{% endif %}">Password *</label>

                    <div class="col-sm-9">
                        <div class="input-group">
                            <input class="form-control {% if form.password.errors %}is-invalid{% endif %}" type="text" name="password" placeholder="Password" {% if form.password.data %}value="{{ form.password.data }}"{% endif %}>
                            <button class="btn btn-primary" type="button">Generate</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column mb-4">
                <h4 class="text-secondary mt-0">
                    User details
                </h4>
                <div class="d-flex mb-3">
                    <label class="col-form-label col-sm-3">Nickname</label>

                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="nickname" placeholder="John Doe" {% if form.password.data %}value="{{ form.nickname.data }}"{% endif %}>
                        <span class="form-text text-secondary">Nickname will be seen to user's contact.</span>
                    </div>
                </div>

                <label>
                    First name
                    <input type="text" name="first_name" placeholder="John" {% if form.first_name.data %}value="{{ form.first_name.data }}"{% endif %}>
                    <span>Permitted symbols are a..z, 0..9, dots and underscores.</span>
                </label>
                <label>
                    Last name
                    <input type="text" name="last_name" placeholder="Doe" {% if form.last_name.data %}value="{{ form.last_name.data }}"{% endif %}>
                    <span>Permitted symbols are a..z, 0..9, dots and underscores.</span>
                </label>
                <label>
                    Expires
                    <input type="date" name="expires" placeholder="2022-04-15" {% if form.expires.data %}value="{{ form.expires.data }}"{% endif %}>
                    <span>A string of characters of the format YYYY-MM-DD; where YYYY shall contain year, MM shall contain the month, and DD shall contain the day.</span>
                </label>
                <label>
                    <input type="checkbox" name="is_admin">
                    Administrator
                </label>
            </div>

            <button type="submit">Create user</button>
        </form>
    </div>
{% endblock %}