{% extends 'base.html' %}

{% block content %}
  <div class="container">
        <form action="{% url 'users:create' %}" method="POST">
            {% csrf_token %}
            {{ form.errors }}
            <div>
              <label class="{% if form.username.errors %}error{% endif %}">
                  Username *
                  <input type="text" name="username" placeholder="Username" {% if form.username.data %}value="{{ form.username.data }}"{% endif %}>

                  {% if hosts %}
                      <select name="host">
                          {% for host in hosts %}
                              <option value="{{ host.name }}">
                                {{ host.name }}
                              </option>
                          {% endfor %}
                      </select>
                  {% endif %}
              </label>

              <label class="{% if form.password.errors %}error{% endif %}">
                  Password *
                  <input type="text" placeholder="Password" name="password" {% if form.password.data %}value="{{ form.password.data }}"{% endif %}>
              </label>
            </div>

            <div>
                User details

                <label>
                    Nickname
                    <input type="text" name="nickname" placeholder="John Doe" {% if form.nickname.data %}value="{{ form.nickname.data }}"{% endif %}>
                    <span>Nickname will be seen to user's contact.</span>
                </label>
                <label>
                    First name
                    <input type="text" name="first_name" placeholder="John" {% if form.first_name.data %}value="{{ form.first_name.data }}"{% endif %}>
                    <span>Permitted symbols are a..z, 0..9, dots and underscores.</span>
                </label>
                <label>
                    Last name
                    <input type="text" name="last_name" placeholder="Doe" {% if form.last_name.data %}value="{{ form.last_name.data }}"{% endif %}>
                    <span>Permitted symbols are a..z, 0..9, dots and underscores.</span>
                </label>
                <label>
                    Expires
                    <input type="date" name="expires" placeholder="2022-04-15" {% if form.expires.data %}value="{{ form.expires.data }}"{% endif %}>
                    <span>A string of characters of the format YYYY-MM-DD; where YYYY shall contain year, MM shall contain the month, and DD shall contain the day.</span>
                </label>
                <label>
                    <input type="checkbox" name="is_admin">
                    Administrator
                </label>
            </div>
            <button>Create user</button>
        </form>
  </div>
{% endblock %}