{% extends 'base.html' %}

{% block section_title %}{% endblock %}

{% block content %}
    <div class="mb-4 col-12 d-flex overflow-hidden overflow-x-auto text-nowrap">
        <div class="d-flex align-items-center">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '';">
                <ol class="breadcrumb flex-nowrap mb-0">
                    <li class="breadcrumb-item">
                        <a class="fs-4" href="{% url 'users:list' %}">
                            Users
                        </a>
                    </li>

                    <li class="breadcrumb-item">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </li>

                    <li class="breadcrumb-item text-body-emphasis active fs-4" aria-current="page">
                        {{ user.full_jid }}
                    </li>
                </ol>
            </nav>

            <div class="vr mx-3"></div>

            <h6 class="mb-0 text-body-tertiary">
                {% if user.is_active %}Active{% else %}Blocked{% endif %}
            </h6>
        </div>
    </div>

    <div class="mb-4 col-12">
        {% include 'users/parts/links.html' %}
    </div>

    <div class="col-12 pb-5 mb-5">
        <form action="{% url 'users:detail' id=user.id %}" method="POST">
            {% csrf_token %}

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="d-flex flex-column mb-4">
                        <div class="fs-3">
                            {% if user.nickname %}
                                {{ user.nickname|truncatechars:'30' }}
                            {% elif user.first_name or user.last_name %}
                                {{ user.full_name|truncatechars:'30' }}
                            {% else %}
                                {{ user.full_jid }}
                            {% endif %}
                        </div>

                        <hr class="border border-2">

                        <div class="mb-3">
                            Status:
                            <span class="text-success {% if not user.is_active %}text-danger{% endif %}">
                                {{ user.status }}
                            </span>
                        </div>

                        <div>
                            <label class="form-label">Change status:</label>
                            <select class="form-select" id="user_status" name="status">
                                <option value="ACTIVE" {% if user.is_active %}selected{% endif %}>
                                    Active
                                </option>
                                <option value="BLOCKED" {% if user.status == 'BLOCKED' %}selected{% endif %}>Blocked</option>
                                {% if not user.auth_backend_is_ldap %}
                                    <option value="BANNED" {% if user.status == 'BANNED' %}selected{% endif %}>Banned</option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="collapse {% if user.status == 'BLOCKED' %}show{% endif %}">
                            <hr class="border border-2">

                            <div>
                                <label class="form-label">Reason for blocking:</label>
                                <textarea class="form-control" name="reason" cols="30" rows="6" placeholder="Reason for blocking">{{ user.reason|default:'' }}</textarea>
                            </div>
                        </div>

                        <hr class="border border-2">

                        <div>
                            <label class="form-label">Expires:</label>
                            <input class="form-control" type="date" {% if user.expires %}value="{{ user.expires|date:'Y-m-d' }}"{% endif %} name="expires">
                        </div>
                    </div>

                    {% if not user.auth_backend_is_ldap %}
                        <div class="d-flex flex-column mb-4">
                            <h4 class="text-secondary mt-0">
                                Change password
                            </h4>

                            <div class="mb-3">
                                <label class="form-label">Password *</label>
                                <input class="form-control" type="text" name="password" placeholder="Password">
                            </div>

                            <div>
                                <label class="form-label">Confirm password *</label>
                                <input class="form-control" type="text" name="confirm_password" placeholder="Confirm password">
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if users_write_permissions %}
                <div class="fixed-bottom row col-md-9 col-xl-10 m-0 ms-auto py-4 px-0 px-md-4 bg-body border-top shadow">
                    <div class="col-12 p-md-0">
                        <div class="d-flex flex-wrap mb-n3 me-n3">
                            <button class="btn btn-primary me-3 mb-3" type="submit" name="save">
                                Save
                            </button>

                            {% if user.auth_backend != 'ldap' %}
                                <a class="btn btn-danger me-3 mb-3" href="{% url 'users:delete' id=user.id %}">
                                    Delete User
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}