{% extends 'base.html' %}

{% block content %}
    {% url 'users:list' as url %}
    <div class="mb-4 col-12 d-flex">
        <div class="d-flex align-items-center me-4">
            <h2 class="mb-0">
                Users
            </h2>
            <div class="vr mx-3"></div>
            <h4 class="mb-0 text-secondary fw-normal items-count-js">
                <span>
                    {{ users.count }}
                </span> users
            </h4>
        </div>

        {% if hosts %}
            <div class="ms-auto">
                {% include 'parts/host_select.html' %}
            </div>
        {% endif %}
    </div>

    <div class="mt-4 list-js" data-url="{{ url }}">
        {% include 'users/parts/user_list.html' %}
    </div>
{% endblock %}