{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div>
            <a href="{% url 'users:list' %}">Users</a>
            <div>
                {{ user.full_jid }} | {% if user.is_active %}Active{% else %}Blocked{% endif %}
            </div>
        </div>
        {% include 'users/parts/links.html' %}

        <div>
            <form action="{% url 'users:detail' id=user.id %}" method="POST">
                {% csrf_token %}
                <label>
                    Password *
                    <input type="text" name="password" placeholder="Password">
                </label>
                <label>
                    Confirm password *
                    <input type="text" name="confirm_password" placeholder="Confirm password">
                </label>

                <button>
                    Change password
                </button>
            </form>
        </div>
    </div>
{% endblock %}